body {
  font-family: $ff-primary;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

/* .section {
  // padding: 60px 0 60px 0;
  // @media screen and (min-width: 1200px) {
  //   padding: 94px 0 94px 0;
  // }
} */

.container {
  width: 100%;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  // outline: 1px solid red;

  // @media screen and (min-width: 480px) {
  //   width: 480px;
  // }

  @media screen and (min-width: 768px) {
    max-width: 100%;
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}
.button {
  cursor: pointer;
  border-top: 50%;
  border-radius: 99em;
  // height: 24px;
  padding: 7px 13px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 10px;

  &__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  &__icon {
    margin-left: 12px;
  }
}
.button--1 {
  background-color: var(--brend-color-1);
  color: var(--brend-color-2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-hover-1);
  }
}
.button--2 {
  background-color: var(--brend-color-2);
  color: var(--brend-color-1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-hover-2);
  }
}
