body {
  // color: $primary-text-color;
  // background-color: $page-bgc;
  // font-family: $ff-primary;
  // letter-spacing: $primary-letter-spacing;
  // font-size: $primary-font-size;
}

.section {
  // padding: 60px 0 60px 0;
  // @media screen and (min-width: 1200px) {
  //   padding: 94px 0 94px 0;
  // }
}

.container {
  width: 100%;
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid red;

  // @media screen and (min-width: 480px) {
  //   width: 480px;
  // }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
.button {
  border: 1px transparent;
  border-top: 50%;
  border-radius: 99em;
  padding: 8px 15px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 10px;
}
.button--1 {
  background-color: var(--brend-color-1);
  color: var(--brend-color-2);
}
.button--2 {
  background-color: var(--brend-color-2);
  color: var(--brend-color-1);
}
