:root {
  --bg-color: #ffb8ca;
  --bg-color-2: #fea5bb;
  --brend-color-1: #d41443;
  --brend-color-2: #ffffff;
  --brend-color-3: #ffa5ba;
  --button-hover-1: #c7133e;
  --button-hover-2: #ecebeb;
  --text-color: #907e82;
  --caption-color: #000000;
}
$mob: 480px;
$tab: 768px;
$desc: 1280px;
$ff-primary: DM Sans, sans-serif;
