/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';
@import './base/reset';
@import './base/vhidden';
@import './base/body';
@import './layout/modal-location';
@import './layout/footer';
