<div class="popup is-hidden-about about-modal-connector">
  <div class="modal-about">
    <button class="modal-about__close-btn about-modal-close">
      <svg class="close-btn__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-close-icon"></use>
      </svg>
    </button>
    <div class="modal-about__body">
      <h1 class="modal-about__head-title">How it's made?</h1>
      <div class="modal-about__wrap">
        <div class="modal-about__text">
          <h2 class="modal-about__title">
            The origin story of good ice cream long before it was made...
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore modi consectetur
            perferendis alias error, sit aliquam similique ducimus illum eligendi!
          </p>
        </div>
        <div class="image-wraper">
          <img
            class="modal-about__image"
            src="/images/cows.jpg"
            alt="cows at a grace"
            width="270"
          />
        </div>
      </div>
      <div class="modal-about__wrap modal-about__wrap--mod">
        <div class="modal-about__text modal-about__text--mod">
          <h2 class="modal-about__title">Milk</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore modi consectetur
            perferendis alias error, sit aliquam similique ducimus illum eligendi!
          </p>
        </div>
        <div class="image-wraper">
          <img class="modal-about__image" src="/images/milk.jpg" alt="milk" width="270" />
        </div>
      </div>
      <div class="modal-about__wrap">
        <div class="modal-about__text">
          <h2 class="modal-about__title">Manufacturing</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore modi consectetur
            perferendis alias error, sit aliquam similique ducimus illum eligendi!
          </p>
        </div>
        <div class="image-wraper">
          <img
            class="modal-about__image"
            src="/images/manufacturing.jpg"
            alt="manufacturing ice-creame"
            width="270"
          />
        </div>
      </div>
      <div class="modal-about__wrap modal-about__wrap--mod">
        <div class="modal-about__text modal-about__text--mod">
          <h2 class="modal-about__title">Kids</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore modi consectetur
            perferendis alias error, sit aliquam similique ducimus illum eligendi!
          </p>
        </div>
        <div class="image-wraper">
          <img
            class="modal-about__image"
            src="/images/Ice_cream_kids.jpg"
            alt="kids eating ice-creame"
            width="270"
          />
        </div>
      </div>
    </div>
  </div>
</div>
