<div class="popup is-hidden-about about-modal-connector">
  <div class="modal-about">
    <button class="modal-about__close-btn about-modal-close">
      <svg class="close-btn__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-ice_cream_close"></use>
      </svg>
    </button>

    <h1 class="modal-about__head-title">How it's made?</h1>
    <ul class="modal-about-list">
      <li class="modal-about__item">
        <div class="modal-about__item-text">
          <h2 class="modal-about__title">Dairy cattle</h2>
          <p class="modal-about__text">
            &nbsp;&nbsp;&nbsp;&nbsp;In order to get delicious natural milk, we need to go to
            environmentally friendly places where they get delicious natural milk. For example, to
            Switzerland.
          </p>
        </div>
        <div class="image-wraper">
          <img
            class="modal-about__image"
            src="/images/cows.jpg"
            alt="cows at a grace"
            width="270"
          />
        </div>
      </li>
      <li class="modal-about__item modal-about__item--mod">
        <div class="modal-about__item-text modal-about__item-text--mod">
          <h2 class="modal-about__title">Natural ingredients</h2>
          <p class="modal-about__text">
            &nbsp;&nbsp;&nbsp;&nbsp;A real good product should contain ingredients such as milk,
            eggs, vanilla, almonds, chocolate, nuts, fruits.
          </p>
        </div>
        <div class="image-wraper">
          <img class="modal-about__image" src="/images/milk.jpg" alt="milk" width="270" />
        </div>
      </li>
      <li class="modal-about__item">
        <div class="modal-about__item-text">
          <h2 class="modal-about__title">Manufacturing</h2>
          <p class="modal-about__text">
            &nbsp;&nbsp;&nbsp;&nbsp;Today, modern production automation systems allow to produce a
            variety of products.
          </p>
        </div>
        <div class="image-wraper">
          <img
            class="modal-about__image"
            src="/images/manufacturing.jpg"
            alt="manufacturing ice-creame"
            width="270"
          />
        </div>
      </li>
      <li class="modal-about__item modal-about__item--mod">
        <div class="modal-about__item-text modal-about__item-text--mod">
          <h2 class="modal-about__title">Kids</h2>
          <p class="modal-about__text">
            &nbsp;&nbsp;&nbsp;&nbsp;Ice cream has been a favorite treat for adults and children for
            many years.
          </p>
        </div>
        <div class="image-wraper">
          <img
            class="modal-about__image"
            src="/images/Ice_cream_kids.jpg"
            alt="kids eating ice-creame"
            width="270"
          />
        </div>
      </li>
    </ul>
  </div>
</div>
