<!-- <div class="popup" data-modal>
  <div class="modal-about">
    <div class="modal-about__body">
      <h1>lorem</h1>
      <div class="modal-about__wrap">
        <h2>Коровы</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore modi consectetur
          perferendis alias error, sit aliquam similique ducimus illum eligendi!
        </p>
        <div class="image-wraper">
          <img src="/images/cows.jpg" alt="cows at a grace" width="270" />
        </div>
      </div>
      <div class="modal-about__wrap">
        <h2>Молоко</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore modi consectetur
          perferendis alias error, sit aliquam similique ducimus illum eligendi!
        </p>
        <div class="image-wraper">
          <img src="/images/milk.jpg" alt="milk" width="270" />
        </div>
      </div>
      <div class="modal-about__wrap">
        <h2>Производство</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore modi consectetur
          perferendis alias error, sit aliquam similique ducimus illum eligendi!
        </p>
        <div class="image-wraper">
          <img src="/images/manufacturing.jpg" alt="manufacturing ice-creame" width="270" />
        </div>
      </div>
      <div class="modal-about__wrap">
        <h2>Дети</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore modi consectetur
          perferendis alias error, sit aliquam similique ducimus illum eligendi!
        </p>
        <div class="image-wraper">
          <img src="/images/Ice_cream_kids.jpg" alt="kids eating ice-creame" width="270" />
        </div>
      </div>
    </div>
  </div>
</div>
 -->
