<section class="advantages" id="aboutus">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="container">
        <ul class="advantages-list">
            <li class="advantages-list__item">
                <p class="advantages-list__title milk">721</p>
                <p class="advantages-list__descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <p class="advantages-list__title vitamin">16kg</p>
                <p class="advantages-list__descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <p class="advantages-list__title candy">84</p>
                <p class="advantages-list__descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>