<section class="contacts" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="contacts__container container">
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__name">CAFE</div>
        <div class="contacts__sity">
          <div class="contacts__pre-title">Chicago</div>
          <p class="contacts__title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__week">
          <p class="contacts__day">Monday - Friday</p>
          <span class="contacts__time">06:00 AM - 10:00 PM</span>
        </div>
        <div class="contacts__weekend">
          <p class="contacts__days">Saturday - Sunday</p>
          <span class="contacts__times">08:00 AM - 16:00 PM</span>
        </div>
        <div class="contacts__contact">
          <a class="contacts__tel link" href="tel:+610383766284">+61(0) 383 766 284 </a>
          <a class="contacts__mail link" href="mailto:inoreply@envato.com">noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts__item">
        <h2 class="contacts__name-color">FOODTRUCK</h2>
        <div class="contacts__sity">
          <h3 class="contacts__pre-title">Los Angeles</h3>
          <p class="contacts__title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__week">
          <p class="contacts__day">Monday - Friday</p>
          <span class="contacts__time">06:00 AM - 10:00 PM</span>
        </div>
        <div class="contacts__weekend">
          <p class="contacts__days">Saturday - Sunday</p>
          <span class="contacts__times">08:00 AM - 16:00 PM</span>
        </div>
        <div class="contacts__contact">
          <a class="contacts__tel link" href="tel:+610383766284">+61(0) 383 766 284 </a>
          <a class="contacts__mail link" href="mailto:inoreply@envato.com">noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts__item">
        <div class="contacts__name">CAFE</div>
        <div class="contacts__sity">
          <div class="contacts__pre-title">New York</div>
          <p class="contacts__title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__week">
          <p class="contacts__day">Monday - Friday</p>
          <span class="contacts__time">06:00 AM - 10:00 PM</span>
        </div>
        <div class="contacts__weekend">
          <p class="contacts__days">Saturday - Sunday</p>
          <span class="contacts__times">08:00 AM - 16:00 PM</span>
        </div>
        <div class="contacts__contact">
          <a class="contacts__tel link" href="tel:+610383766284">+61(0) 383 766 284 </a>
          <a class="contacts__mail link" href="mailto:inoreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
    </ul>

  </div>
  <div class="container container__button-block">
    <ul class="button-block__list">
      <li class="button-block__map">
        <button id="btn-modal-location" class="button button-block button-block__1" type="button">
          Our Locations
          <svg class="locations__svg" width="4" height="8">
            <use href="./images/symbol-defs.svg#icon-btnsvg1"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="button button-block button-block__2" type="button" id="myBtn">
          Franchise
          <svg class="franchise__svg" width="4" height="8">
            <use href="./images/symbol-defs.svg#icon-btnsvg"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
