<footer class="footer">
  <div class="footer__container container">

    <div>
      <p class="footer__text">homemade ice cream made</p>
      <p class="footer__title">with passion</p>
    </div>
    <div>
      <ul class="footer__sm-list">

        <li class="footer__item">
          <a class="footer__link" href="https://github.com/" target="_blank">
            <svg class="footer__svg">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="https://web.telegram.org/" target="_blank">
            <svg class="footer__svg">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="https://www.facebook.com/" target="_blank">
            <svg class="footer__svg">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="footer__contact">Feel free to contact <a class="footer__phone" href="tel:+610383766284">+61 (0) 383 766 284</a></p>
    </div>
  </div>
    <div class="footer__line"></div>
    <p class="footer__copyright">© 2022 - IceCream. All Rights Reserved.</p>
</footer>


