<section class="gallery">
  <div class="gallery__container">
    <picture class="gallery__picture">
      <source
        srcset="./images/gallery-desk-x1.jpg 1x, ./images/gallery-desk-x2.jpg 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/gallery-tab-x1.jpg 1x, ./images/gallery-tab-x2.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/gallery-mob-x1.jpg 1x, ./images/gallery-mob-x2.jpg 2x"
        media="(min-width: 320px)"
      />
      <img class="gallery__photo" src="./images/gallery-desk-x1.jpg" alt="Галерея фотографій" />
    </picture>
  </div>
</section>
