<section id="gallery" class="gallery">
  <h2 hidden>gallery</h2>
  <div class="gallery__container">
    <div class="gallery__second-container">
      <div class="gallery__box">
        <img class="gallery__image" src="./images/gallery-green-ice-cream-x1.jpg" alt="" />
      </div>
      <div class="gallery__box">
        <img class="gallery__image" src="./images/gallery-ice-1x.jpg" alt="" />
        <img class="gallery__image" src="./images/gallery-ice-cream-x1.jpg" alt="" />
      </div>
      <div class="gallery__box">
        <img
          class="gallery__image gallery__image--bigger"
          src="./images/gallery-many-ice-cream-x1.jpg"
          alt=""
        /><img class="gallery__image" src="./images/gallery-girl-x1.jpg" alt="" />
      </div>
      <div class="gallery__box">
        <img class="gallery__image" src="./images/gallery-white-ice-cream-x1.jpg" alt="" /><img
          class="gallery__image"
          src="./images/gallery-red-ice-cream-x1.jpg"
          alt=""
        />
      </div>
      <div class="gallery__box gallery__box--up">
        <img class="gallery__image" src="./images/gallery-dog-x1.jpg" alt="" /><img
          class="gallery__image"
          src="./images/gallery-milkshake-x1.jpg"
          alt=""
        />
      </div>
      <div class="gallery__box">
        <img class="gallery__image" src="./images/gallery-yellow-ice-cream-x1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- 39x39 mob br5 w1h2 80big picure-->
<!-- 85x85 tab br12 w2h4 174big picure-->
<!-- 138x138 desk br20 w3h6 284big picure-->
