<section>
  <div class="container">
    <picture>
      <source
        srcset="./images/gallery-desk-1x.jpg 1x, ./images/gallery-desk-2x.jpg 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/gallery-tab-1x.jpg 1x, ./images/gallery-tab-2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/gallery-mob-1x.jpg 1x, ./images/gallery-mob-2x.jpg 2x"
        media="(min-width: 320px)"
      />
      <img
        class="gallery__photo"
        src="./images/gallery-desk-1x.jpg"
        alt="Галерея фотографій"
        width="100%"
      />
    </picture>
  </div>
</section>
