<section class="hero">
  <section class="header">
    <img src="images/logo 1.png" alt="logo" />
    <nav>
      <ul class="menu">
        <li class="menu__item">
          <a href="" class="menu__link">Home</a>
        </li>
        <li class="menu__item"><a href="" class="menu__link">About us</a></li>
        <li class="menu__item"><a href="" class="menu__link">How it's made?</a></li>
        <li class="menu__item"><a href="" class="menu__link">Our products</a></li>
        <li class="menu__item"><a href="" class="menu__link">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="button button--header">Buy now</button>
  </section>
  h1.hero__title
</section>
