<section class="hero">
  <!--! Header -->
  <header class="header">
    <!-- <img class="logo__img" src="images/logo.png" alt="logo" /> -->
    <div class="logo">
      <svg class="logo__icon" width="40" height="40">
        <use href="images/symbol-defs.svg#icecream"></use>
      </svg>
      <p class="logo__text">icecream</p>
    </div>
    <nav class="header__nav">
      <ul class="menu">
        <li class="menu__item">
          <a href="" class="menu__link">Home</a>
        </li>
        <li class="menu__item"><a href="" class="menu__link">About us</a></li>
        <li class="menu__item"><a href="" class="menu__link">How it's made?</a></li>
        <li class="menu__item"><a href="" class="menu__link">Our products</a></li>
        <li class="menu__item"><a href="" class="menu__link">Contact</a></li>
      </ul>
    </nav>

    <button class="button button--header" type="button">Buy now</button>
    <!--! Mobile Menu Button -->
    <button
      class="mob-menu js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mob-menu__icon" width="25" height="25">
        <use href="images/symbol-defs.svg#mob-menu"></use>
      </svg>
    </button>
  </header>
  <div class="container">
    <!-- <span class="hero__white">ice cream made with</span>  -->
    <h1 class="hero__title">ice cream made with <span>passion</span></h1>
    <a class="button button--1 hero--button" href="#products">Products</a>
    <a class="button button--2" href="#howitmades">How it’s made?</a>
    <!-- <button type="button" class="button button--1 hero--button">Products</button>
    <button type="button" class="button button--2">How it’s made?</button> -->
    <div class="hero-slider">
      <img class="hero-slider__img" src="images/milk-desk-x1.png" alt="milk" />
      <p class="hero-slider__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="button">arrow</button>
    </div>
    <!-- Achivki-->
    <ul class="achivements">
      <li class="achivements__item">
        <p class="achivements__num">16</p>
        <p class="acivements__text">cafes</p>
      </li>
      <li class="achivements__item">
        <p class="achivements__num">23</p>
        <p class="acivements__text">food trucks</p>
      </li>
    </ul>
    <img class="hero__img" src="images/tasty-tab-x1.png" alt="girl with icecream" />
  </div>
</section>
