<!--! Mobile menu -->
<div class="mobil-menu js-menu-container">
  <!-- Close Button -->
  <button class="mobil-menu__button js-close-menu">
    <svg class="mobil-menu__close" width="40" height="40">
      <use href="images/icons.svg#mobil-close"></use>
    </svg>
  </button>
  <button class="button button--2 button--menu" type="button">
    <div class="button__wrapper">Buy now</div>
  </button>
  <ul class="mobil-menu__list">
    <li class="mobil-menu__item">
      <a href="" class="mobil-menu__link">Home</a>
    </li>
    <li class="mobil-menu__item"><a href="" class="mobil-menu__link">About us</a></li>
    <li class="mobil-menu__item"><a href="" class="mobil-menu__link">How it's made?</a></li>
    <li class="mobil-menu__item"><a href="" class="mobil-menu__link">Our products</a></li>
    <li class="mobil-menu__item"><a href="" class="mobil-menu__link">Contact</a></li>
  </ul>
</div>
