<!--! Mobile menu -->
<div class="mobil-menu js-menu-container">
  <!-- Close Button -->
  <button class="mobil-menu__button js-close-menu">
    <svg class="mobil-menu__close" width="17" height="17">
      <use href="images/symbol-defs.svg#close"></use>
    </svg>
  </button>
  <button class="button button--2 button--menu" id="modal-bynow-open" type="button">
    <div class="button__wrapper">
      <p class="button__text">Buy now</p>
      <svg class="button__icon" width="10" height="10">
        <use href="images/symbol-defs.svg#icon-Vector"></use>
      </svg>
    </div>
  </button>
  <ul class="mobil-menu__list">
    <li class="mobil-menu__item">
      <a href="/index.html" class="mobil-menu__link link-1">Home</a>
    </li>
    <li class="mobil-menu__item">
      <a href="#aboutus" class="mobil-menu__link link-2">About us</a>
    </li>
    <li class="mobil-menu__item">
      <a href="#howitmades" class="mobil-menu__link link-3">How it's made?</a>
    </li>
    <li class="mobil-menu__item">
      <a href="#products" class="mobil-menu__link link-4">Our products</a>
    </li>
    <li class="mobil-menu__item">
      <a href="#contacts" class="mobil-menu__link link-5">Contact</a>
    </li>
  </ul>
</div>
