<div class="modal-location container" id="modal-location">
    <div class="modal-location__map">
        <div class="before">
          <video id="video" class="video"
            src="./images/video/icecream.mp4"></video>
        </div>
        <button type="button" class="modal-location__button location-close">
          <svg width="25" height="25">
            <use href="./images/symbol-defs.svg#icon-ice_cream_close"></use>
          </svg>
        </button>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.674062280467!2d-88.56883149275797!3d20.682835325841783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5138b88e232523%3A0x1ef4200c7824ddf!2z0J_QuNGA0LDQvNC40LTQsCDQmtGD0LrRg9C70YzQutCw0L3QsA!5e0!3m2!1sru!2sua!4v1642342135158!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
        
    </div>

<!-- Модальное окно франшиза -->

    <div id="modal-franchise" class="modal-franchise container">
        <button type="button" class="modal-franchise__button close">
          <svg width="25" height="25">
            <use href="./images/symbol-defs.svg#icon-ice_cream_close"></use>
          </svg>
        </button>
<h1 class="modal-franchise__start">
    Only the best Aztec recipes
</h1>
<p class="modal-franchise__text">Why is our ice cream the best? we have 1000 years experience. We've been making and distributing ice cream long before the conquistadors.
    And they became the first owners of the franchise. We have preserved and increased our knowledge and are ready to share it.
Our cows are a work of art created by the gods themselves. Man, he just couldn't come up with such a thing... and we didn't invent it! 1000 sacrifices to the gods, brought their results, they sprinkled the altars with blood, and in their place a recipe for the gods arose. That's why our franchise is worth the money.</p>
<div class="desktop">
<form class="form">
    <h2 class="form__text">
        Leave your details, we will call you back.</h2>
    <ul class="list">
      <li>
    <label class="form__label">
      <span class="form__name">name</span>
      <input class="form__input" type="text" name="Username" />
      <svg class="form__icon" width="15" height="15">
        <use href="./images/symbol-defs.svg#icon-user"></use></svg>
    </label>
  </li>
  <li>
    <label class="form__label">
      <span class="form__name">telephone</span>
      <input class="form__input" type="tel" name="tel" />
      <svg class="form__icon" width="15" height="15">
        <use href="./images/symbol-defs.svg#icon-phone"></use>
      </svg>
    </label>
  </li>
  <li>
    <label class="form__label">
      <span class="form__name">Email</span>
      <input class="form__input" type="email" name="email" />
      <svg class="form__icon" width="15" height="15">
        <use href="./images/symbol-defs.svg#icon-envelop"></use>
      </svg>
    </label>
  </li>
  <li>
    <label class="form__label">
      <span class="form__name">comment</span>
      <textarea class="form__textarea" name="feedback" ></textarea>
      <svg class="form__textarea-icon" width="15" height="15">
        <use href="./images/symbol-defs.svg#icon-bubble"></use>
      </svg>
    </label>
  </li>
  </ul>

  <button class="form__button button" type="submit">Send</button>
    </form>

    <div class="indian">
      <img class="indian__foto" src="./images/индеец.jpg" alt="Indian with daughter eating ice cream">
        </div>
      </div>
  </div>

    