<section class="products">
    <div class="container container-products">
      <p id="products" class="products__text">100% natural</p>
      <h2 class="products__title">products</h2>
      <ul class="products__list">
          <li class="products__item">
            <div class="products-box">
             <div class="products-block">
                <div class="products-card products-card--pink products-front">
                  <h3 class="products-card__title">ice cream</h3>
                    <p class="products-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <button class="products__button" type="button"></button>
                </div>
              
                <div class="products-back products-back--pink">
                   <p class="products-card__text products-card__text--back">Lorem ipsum dolor    sit amet, consectetur adipisicing elit. Enim, tempore! Nostrum asperiores soluta consectetur laborum. Tempora, dolorum deleniti. Unde eos odit facilis vitae ratione blanditiis provident corporis illo rerum</p>
                   <button class="products__button" type="button"></button>
                </div>
             </div>
            </div>
          </li>

          <li class="products__item">
            <div class="products-box">
              <div class="products-block">
               <div class="products-front">
                 <div class="products-card products-card--beige">
                   <h3 class="products-card__title">ice coffee</h3>
                    <p class="products-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <button class="products__button" type="button"></button>
                 </div>
               </div>
                <div class="products-back products-back--beige">
                    <p class="products-card__text products-card__text--back">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, tempore! Nostrum asperiores soluta consectetur laborum. Tempora, dolorum deleniti. Unde eos odit facilis vitae ratione blanditiis provident corporis illo rerum </p>
                    <button class="products__button" type="button"></button>
                </div>
              </div>
            </div>
          </li>

          <li class="products__item">
            <div class="products-box">
              <div class="products-block">
                <div class="products-front">
                 <div class="products-card products-card--green">
                  <h3 class="products-card__title">milkshakes</h3>
                  <p class="products-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                  <button class="products__button" type="button"></button>
                 </div>
               </div>
                <div class="products-back products-back--green">
                  <p class="products-card__text products-card__text--back">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, tempore! Nostrum asperiores soluta consectetur laborum. Tempora, dolorum deleniti. Unde eos odit facilis vitae ratione blanditiis provident corporis illo rerum </p>
                  <button class="products__button" type="button"></button>
                </div>
              </div>
            </div>
          </li>        
      </ul>
    </div>
</section>
         