<section class="products">
    <div class="container">
      <p class="products__text">100% natural</p>
      <h2 class="products__title">products</h2>
      <ul class="products__list">
          <li class="products__item">
              <div class="products-card products-card--pink">
                  <h3 class="products-card__title">ice cream</h3>
                  <p class="products-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                  <button class="products__button" type="button"></button>
              </div>
          </li>

          <li class="products__item">
            <div class="products-card products-card--beige">
                <h3 class="products-card__title">ice coffee</h3>
                <p class="products-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <button class="products__button" type="button"></button>
            </div>
        </li>

        <li class="products__item">
            <div class="products-card products-card--green">
                <h3 class="products-card__title">milkshakes</h3>
                <p class="products-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <button class="products__button" type="button"></button>
            </div>
        </li>

      </ul>

    </div>
</section>