<div class="wrapper "> 
<div class="wrapper__slider container">
    <div class="slider__navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
    </div> 
    <div class="slider__slides">
        <input type="radio" name="r" id="r1">
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">
        <div class="slider__slide r1">
            <img src="./images/emily.jpg" alt="emyly">
            <div class="slider__text-conteiner">
            <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="dots">
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                </div>
                <p class="slider__name">Emily, Los Angeles</p>
        </div>
        <div class="slider__slide">
            <img src="" alt="emyly">
            <div class="slider__text-conteiner">
                <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
            <div class="dots">
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                </div>
                <p class="slider__name">Emily, Los Angeles</p>
        </div>
        <div class="slider__slide">
            <img src="" alt="emyly">
            <div class="slider__text-conteiner">
                <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
            <div class="dots">
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                </div>
                <p class="slider__name">Emily, Los Angeles</p>
        </div>
        <div class="slider__slide">
            <img src="./images/emily.jpg" alt="emyly">
            <div class="slider__text-conteiner">
            <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="dots">
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg class="slider_icon" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                </div>
                <p class="slider__name">Emily, Los Angeles</p>
        </div>
        
    </div> 
</div>
</div>