<section class="wrapper container">
  <div class="slider-container">
    <div class="slider-naw">
      <label for="s1" class="slider-naw-item"></label>
      <label for="s2" class="slider-naw-item"></label>
      <label for="s3" class="slider-naw-item"></label>
      <label for="s4" class="slider-naw-item"></label>
      <label for="s5" class="slider-naw-item"></label>
      <label for="s6" class="slider-naw-item"></label>
      <label for="s7" class="slider-naw-item"></label>
      <label for="s8" class="slider-naw-item"></label>
      <label for="s9" class="slider-naw-item"></label>
      <label for="s10" class="slider-naw-item"></label>
    </div>
    <div class="sliders">
      <input type="radio" name="s" id="s1" />
      <input type="radio" name="s" id="s2" />
      <input type="radio" name="s" id="s3" />
      <input type="radio" name="s" id="s4" />
      <input type="radio" name="s" id="s5" />
      <input type="radio" name="s" id="s6" />
      <input type="radio" name="s" id="s7" />
      <input type="radio" name="s" id="s8" />
      <input type="radio" name="s" id="s9" />
      <input type="radio" name="s" id="s10" />
      <div class="slider-items s1">
        <img src="./images/maxarbakov.png" alt="maxim" width="85px" height="85px" />
        <div class="slider__text-conteiner">
          <p class="slider-text">
            Scrum-master. An interesting project which made me understand: Without JS, not like... I
            realized a lot of new things for myself. Thanks to the team, it's a pleasure to work
            with them.
          </p>
        </div>
        <div class="dots">
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="slider__name">Max, Odessa</p>
      </div>
      <div class="slider-items">
        <img src="./images/andrei.png" alt="andrey" width="85px" height="85px" />
        <div class="slider__text-conteiner">
          <p class="slider-text">
            You get real pleasure to see how our product is born. At first, weak and frail, but
            every hour it becomes stronger and cooler! Thanks my all for teamwork, you are the best!
          </p>
        </div>
        <div class="dots">
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="slider__name">Andrey, Kiev</p>
      </div>
      <div class="slider-items">
        <img src="./images/anastasiya.png" alt="anastasia" width="85px" height="85px" />
        <div class="slider__text-conteiner">
          <p class="slider-text">
            My name is Anastasia, I created the advantege section. I learned how to work in a team,
            which I really liked. The project is informative and interesting. Thanks my team for
            this work!
          </p>
        </div>
        <div class="dots">
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="slider__name">Anastasia, Kiev</p>
      </div>
      <div class="slider-items">
        <img src="./images/vladislav.png" alt="vladislav" width="85px" height="85px" />
        <div class="slider__text-conteiner">
          <p class="slider-text">
            Hey! My name is Vlad Zubin. I made the header and the hero sections. And also a mobile
            menu. The project is interesting, entertaining and informative for me. Thanks for
            teamwork!
          </p>
        </div>
        <div class="dots">
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="slider__name">Vladislav, Slaviansk</p>
      </div>
      <div class="slider-items">
        <img src="./images/vladstepantsov.png" alt="vlad" width="85px" height="85px" />
        <div class="slider__text-conteiner">
          <p class="slider-text">
            Creator of the Customer Reviews section. Gained new experience of working with a team
            and new programming skills. Thanks to my team for new experience and cool project!
          </p>
        </div>
        <div class="dots">
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="slider__name">Vlad, Krivoy Rog</p>
      </div>
      <div class="slider-items">
        <img src="./images/lubov.png" alt="lubov" width="85px" height="85px" />
        <div class="slider__text-conteiner">
          <p class="slider-text">
            My section is Products. My experience is CSS transform. 2D and 3D transformation.The
            project gave me the opportunity to realize my fantasies.
          </p>
        </div>
        <div class="dots">
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="slider__name">Lubov, Kirovograd</p>
      </div>
      <div class="slider-items">
        <img src="./images/vadik.png" alt="andrey" width="85px" height="85px" />
        <div class="slider__text-conteiner">
          <p class="slider-text">
            I'm Vadim, the creator of modals on our page. It was interesting to learn how it is to
            work in a team together and create something common.
          </p>
        </div>
        <div class="dots">
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="slider__name">Vadim, Odessa</p>
      </div>
      <div class="slider-items">
        <img src="./images/vasiliy.png" alt="emily" width="85px" height="85px" />
        <div class="slider__text-conteiner">
          <p class="slider-text">
            Оn the project, I performed a section about us. I consolidated the knowledge of the
            course and learned how to work in a team. I also got the skills how to work in GitHub
            and Trallo.
          </p>
        </div>
        <div class="dots">
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="slider__name">Vasiliy, Odessa</p>
      </div>
      <div class="slider-items">
        <img src="./images/keterina.png" alt="Emily2" width="85px" height="85px" />
        <div class="slider__text-conteiner">
          <p class="slider-text">
            Creator of the Contacts section. Gained an unforgettable experience working with a team.
            Thanks to the team for being friendly.
          </p>
        </div>
        <div class="dots">
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="slider__name">Kateryna, Nikolayev</p>
      </div>
      <div class="slider-items">
        <img src="./images/artem.png" alt="Emily3" width="85px" height="85px" />
        <div class="slider__text-conteiner">
          <p class="slider-text">
            I'm Artem and I'm the one who made the gallery section. It was a new experience of
            working in a team and with new and cool tools.
          </p>
        </div>
        <div class="dots">
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
          <svg class="slider_icon" width="4px" height="4px">
            <use href="./images/symbol-defs.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="slider__name">Artem, Vinitsa</p>
      </div>
    </div>
  </div>
</section>
