.contacts {
  background-image: linear-gradient(
    to bottom,
    #ffffff 10%,
    #fff5f6 10%,
  );
  padding-bottom: 113px;
  padding-top: 86px;
  @media screen and (min-width: 768px) {
      background-image: linear-gradient(to bottom,
        #ffffff 18%,
        #fff5f6 18%,
      );
  }
   @media screen and (min-width: 1280px) {

       background-image: 
       url('../images/section-contacts-bg-1x.png'),
       linear-gradient(
            to bottom,
           #ffffff 21%,
           #fff5f6 21%
         );
         background-repeat: no-repeat;
         background-size: contain;
         background-position-y: 30%;

   }
   
  &__container {
      
      @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
      }
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__item {
    max-width: 480px;
    height: 427px;
    background: var(--brend-color-2);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin: 0 auto 20px auto;
    &:hover {
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0px 10px 15px rgba(212, 20, 67, 0.5);
      transform: scale(1);
    }
    &:last-child {
        margin-bottom: 0;
      }
    padding: 43px 21px 43px 20px;
    @media screen and (min-width: 768px) {
    width: 220px;
    height: 544px;
    margin-right: 20px;
    margin-bottom: 0;
    transition: 1s;

    &:hover {
        box-shadow: 0px 15px 20px rgba(212, 20, 67, 0.5);
        transform: scale(1.1);
    }

    &:last-child {
        margin-right: 0;
    }
    padding: 50px 32px 50px 31px;
    }
    @media screen and (min-width: 1280px) {
    padding: 51px 44px 62px 43px;
    width: 330px;
    height: 572px;
    margin-right: 31px;
    margin-left: 0;

    &:last-child {
        margin-right: 0;
    }
    }
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    color: var(--brend-color-2);
    background: #f0d1a5;
    border-radius: 4px;
    width: 80px;
    height: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
    @media screen and (min-width: 330px) {
      text-align: center;
      margin: 0 auto 25px auto;
    }
    @media screen and (min-width: 768px) {
        width: 73px;
        height: 28px;
        font-size: 14px;
        text-align: start;
        margin: 0 0 30px 0;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 32px;
        font-style: 16px;
    }
  }

  &__name-color {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: var(--brend-color-2);
    background: #c2e297;
    border-radius: 4px;
    width: 130px;
    height: 16px;
    margin-bottom: 25px;
    @media screen and (min-width: 330px) {
      text-align: center;
      margin: 0 auto 25px auto;
    }
    @media screen and (min-width: 768px) {
      width: 138px;
      height: 28px;
      font-size: 14px;
      text-align: start;
      margin: 0 0 30px 0;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 32px;
        font-style: 16px;
    }
  }

  &__pre-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    color: var(--caption-color);
    margin-bottom: 10px;
    @media screen and (min-width: 330px) {
      text-align: center;
    }
    @media screen and (min-width: 768px) {
        font-size: 14px;
        text-align: start;
        margin: 0 0 14px 0;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 10px;
        font-style: 16px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: var(--text-color);
    border-bottom: 1px solid #e1e1e1;
    width: 179px;
    padding-bottom: 25px;
    @media screen and (min-width: 330px) {
      display: flex;
      text-align: center;
      margin: 0 auto;
    }
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.6;
        width: 157px;
        padding-bottom: 30px;
        text-align: start;
    }
    @media screen and (min-width: 1280px) {
        font-style: 16px;
        padding-bottom: 32px;
        width: 234px;
    }
  }

  &__week {
      margin-bottom: 10px;
      @media screen and (min-width: 330px) {
          text-align: center;
      }
      @media screen and (min-width: 768px) {
          margin-bottom: 16px;
          text-align: start;
      }
      @media screen and (min-width: 1280px) {
          margin-bottom: 15px;
      }
  }

  &__day {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    color: var(--caption-color);
    padding-top: 25px;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.8;
        padding-top: 30px;
    }
    @media screen and (min-width: 1280px) {
        font-style: 16px;
        padding-top: 32px;
    }
  }

  &__days {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    color: var(--caption-color);
    margin-top: 0;
    @media screen and (min-width: 330px) {
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.8;
      margin-top: 0;
      text-align: start;
    }
    @media screen and (min-width: 1280px) {
        font-style: 16px;
    }
  }

  &__time {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    color: #ffa5ba;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.8;
    }
    @media screen and (min-width: 1280px) {
        font-style: 16px;
    }
  }

  &__times {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    color: #ffa5ba;
    border-bottom: 1px solid #e1e1e1;
    width: 179px;
    padding-bottom: 25px;
    display: block;
    @media screen and (min-width: 330px) {
      text-align: center;
      margin: 0 auto;
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.8;
      padding-bottom: 30px;
      width: 157px;
      text-align: start;
  }
  @media screen and (min-width: 1280px) {
      font-style: 16px;
      padding-bottom: 32px;
      width: 234px;
  }
}

  &__tel,
  &__mail {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.5;
    color: var(--text-color);
    padding-top: 25px;
    &:last-child {
      padding-top: 0;
    }
    @media screen and (min-width: 325px) {
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.8;
        padding-top: 30px;
        &:last-child {
            padding-top: 0;
        }
        text-align: start;
    }
    @media screen and (min-width: 1280px) {
        font-style: 16px;
        padding-top: 32px;
        &:last-child {
          padding-top: 0;
        }
    }
  }
}

.container__button-block {
  margin-top: 54px;

  @media screen and (min-width: 768px) {
      margin-top: 81px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 86px;
  }
}

.button-block__1 {
  width: 161px;
  height: 44px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;

  cursor: pointer;
   @media screen and (min-width: 768px) {
    width: 191px;
   }
   @media screen and (min-width: 1280px) {
     width: 198px;
   }

}

.button-block__2 {
  width: 161px;
  height: 44px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 174px;
  }

  @media screen and (min-width: 1280px) {
    width: 180px;
  }
}

.button-block__map {
  margin-bottom: 10px;

   @media screen and (min-width: 768px) {
       margin-right: 14px;
       margin-bottom: 0;
   }
   @media screen and (min-width: 1280px) {
       margin-right: 15px;
       margin-bottom: 0;
   }
}

.button-block__1 {
  background: #d41342;
  color: rgba(255, 255, 255, 1);
  &:hover,
  &:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 10px 20px rgba(212, 20, 67, 0.5);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and(min-width:768px) {
    width: 192px;
  margin-right: 15px;}

    @media screen and(min-width:1280px) {
      width: 198px;}
}

.button-block__2 {
  background: var(--brend-color-2);
  color: rgba(212, 20, 67, 1);

  @media screen and(min-width:768px) {
    width: 174px;}

    @media screen and(min-width:1280px) {
      width: 180px;}

    &:hover,
    &:focus{

      background-color: rgba(236, 235, 235, 1);
      box-shadow: 0px 10px 20px rgba(212, 20, 67, 0.3);
      transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.button-block__list{
    text-align: center;
    text-decoration: none;
    list-style: none;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
}

.franchise__svg{
    margin-left: 14px;
}

.locations__svg{
    margin-left: 11px;
}