@import './layout/header';
.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color);
  @media screen and (min-width: $mob) {
    width: $mob;
  }
  &__title {
    font-family: Titan One;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--brend-color-1);
  }
}
