@import './layout/header';
.hero {
  background-color: var(--bg-color);
  @media screen and (max-width: 767px) {
    background-image: url('../images/ice-mob-x1.png'),
      radial-gradient(circle at 65% 50%, var(--bg-color-2) 173px, var(--bg-color) 0px);
    background-repeat: no-repeat;
    background-position: 70% 100%;
    // background-size: 171px;
    // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //   background-image: url('../images/ice-mob-x2.png'),
    //     radial-gradient(circle at 65% 50%, var(--bg-color-2) 173px, var(--bg-color) 0px);
    // }
  }

  &__wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 193px;
    padding-bottom: 160px;

    @media screen and (min-width: $tab) {
      // width: $tab;
      padding-top: 120px;
      padding-bottom: 34px;
      background-image: url('../images/ice-tab-x1.png'),
        radial-gradient(circle at 65% 50%, var(--bg-color-2) 162px, var(--bg-color) 0px);
      background-position: 65% 100%;
      background-repeat: no-repeat;
      // background-size: 143px;
      // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      //   background-image: url('../images/ice-tab-x2.png'),
      //     radial-gradient(circle at 65% 50%, var(--bg-color-2) 162px, var(--bg-color) 0px);
      // }
    }
    @media screen and (min-width: $desc) {
      // width: $desc;
      padding-top: 171px;
      padding-bottom: 56px;
      background-image: url('../images/ice-desk-x1.png'),
        radial-gradient(circle at 60% 50%, var(--bg-color-2) 269px, var(--bg-color) 0px);
      background-position: 60% 100%;
      // background-size: 236px;
      // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      //   background-image: url('../images/ice-desk-x2.png'),
      //     radial-gradient(circle at 60% 50%, var(--bg-color-2) 269px, var(--bg-color) 0px);
      // }
    }
  }

  &__push {
    z-index: 999;
    height: 30px;
    width: 100%;
    outline: 1px solid red;
    // position: absolute;
    margin-bottom: 110px;
  }
  &__title {
    width: 218px;
    font-family: Titan One;
    @include font-base(400, 26, 30);
    // font-size: 26px;
    // line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 19px;
    @media screen and (min-width: $tab) {
      @include font-base(400, 22, 25);
      width: 162px;
    }
    @media screen and (min-width: $desc) {
      @include font-base(400, 38, 44);
      width: 277px;
    }
  }
  &__title span {
    margin-right: auto;
    // font-family: Titan One;
    @include font-base(400, 48, 46);
    // font-size: 48px;
    // line-height: 96.5%; /* or 46px */
    // text-transform: uppercase;
    color: var(--brend-color-1);
    @media screen and (min-width: $tab) {
      @include font-base(400, 34, 31);
    }
    @media screen and (min-width: $desc) {
      @include font-base(400, 58, 52);
      width: 277px;
    }
  }
  &__img {
    display: none;
    @media screen and (min-width: $tab) {
      display: block;
      position: absolute;
      bottom: 0;
      right: 34px;
      width: 168px;
    }
    @media screen and (min-width: $desc) {
      right: 109px;
      width: 293px;
    }
  }
  &--button {
    @media screen and (min-width: $desc) {
      height: 40px;
      padding: 7px 20px;
      @include font-base(400, 14, 18);
    }
  }
  &--button + &--button {
    margin-left: 8px;
    @media screen and (min-width: $desc) {
      margin-left: 15px;
    }
  }

  &-slider {
    display: none;
    position: relative;
    padding-left: 120px;
    @media screen and (min-width: $tab) {
      margin-top: 66px;
      display: flex;
    }
    @media screen and (min-width: $desc) {
      margin-top: 112px;
      padding-left: 180px;
    }
    &__img {
      position: absolute;
      top: -47px;
      left: 0px;
      @media screen and (min-width: $tab) {
        width: 124px;
      }
      @media screen and (min-width: $desc) {
        top: -56px;
        left: -38px;
        width: 188px;
      }
    }
    &__text {
      width: 114px;
      @include font-base(400, 8, 12);
      color: var(--brend-color-2);
      margin-bottom: 7px;
      @media screen and (min-width: $desc) {
        width: 200px;
        @include font-base(400, 14, 20);
      }
    }

    &--button__icon {
      width: 6px;
      height: 6px;
      @media screen and (min-width: $desc) {
        width: 8px;
        height: 8px;
      }
    }
  }
}

.achivements {
  display: none;
  @media screen and (min-width: $tab) {
    // margin-top: 66px;
    display: block;
    position: absolute;
    top: 94px;
    right: 34px;
  }
  @media screen and (min-width: $desc) {
    top: 156px;
    right: 97px;
  }

  &__item {
    position: relative;
    padding-right: 10px;
    @media screen and (min-width: $desc) {
      padding-right: 18px;
    }
  }
  &__item + &__item {
    margin-top: 13px;
  }
  &__num {
    position: relative;
    z-index: 3;
    text-align: right;
    font-family: Titan One;
    @include font-base(400, 28, 32);
    color: var(--brend-color-1);
    @media screen and (min-width: $desc) {
      @include font-base(400, 46, 53);
    }
  }
  &__ball {
    z-index: 0;
    display: block;
    content: '';
    background-color: var(--brend-color-2);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    @media screen and (min-width: $desc) {
      height: 30px;
      width: 30px;
    }
  }
  &__text {
    text-align: right;
    @include font-base(400, 8, 10);
    color: var(--brend-color-2);
    @media screen and (min-width: $desc) {
      @include font-base(400, 14, 18);
    }
  }
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--brend-color-1);
  padding: 0;
  width: 18px;
  height: 18px;
  @media screen and (min-width: $desc) {
    width: 26px;
    height: 26px;
  }
}
