.about {
  padding: 125px 0 40px 0;
  background-color: #fff5f6;
  background-image: url(../images/milkbreeze-mob-x1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 89%;
  @media screen and(min-width:$tab) {
    background-image: none;
    padding: 129px 0 66px 0;
  }
  @media screen and(min-width:$desc) {
    background-image: url(../images/milkbreeze-desk-x1.png);
    padding: 125px 0 39px 0;
  }

  &__label {
    font-family: $ff-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: var(--brend-color-3);
    @media screen and(min-width:$tab){
      font-size: 26px;
      line-height: 1.15;
    }
    @media screen and(min-width:$desc){
      font-size: 30px;
      line-height: 1.13;
      letter-spacing: 0.04em;
    }

  }
  &__title {
    font-family: $ff-secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--brend-color-1);
    margin: 14px auto 26px;
    @media screen and(min-width:$tab){
      font-size: 48px;
      margin: 16px auto 50px;
    }
    @media screen and(min-width:$desc){
      font-size: 58px;
      line-height: 1.13;
      letter-spacing: 0.06em;
      margin: 15px auto 55px;
    }
  }
  &__image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
    @media screen and(min-width:$tab){
      margin: 0;
    }
  }
  &__description {
    font-style: normal;
    font-weight: 500;
    line-height: 1.62;
    color: var(--caption-color);
    min-width: 290px;
    padding: 0 35px;
    margin-left: auto;
    margin-right: auto;
    @media screen and(min-width:$tab){
      line-height: 1.76;
      padding: 0;
    }
  }
  &__text {
    @extend .about__description;
    color: var(--text-color);
    margin-top: 32px;
    margin-bottom: 25px;
    @media screen and(min-width:$tab){
      letter-spacing: 0.04em;
      margin-top: 24px;
      margin-bottom: 62px;
    }
    @media screen and(min-width:$desc){
      font-size: 14px;
      line-height: 1.94;
      margin-top: 35px;
      margin-bottom: 45px;
    }
  }
}
.wrap1{
  @media screen and(min-width:$tab){
    display: flex;
    justify-content: space-between;
  }
}
.wrap2{
  @media screen and(min-width:$tab){
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-top: 50px;
  }
  @media screen and(min-width:$desc){
    width: 463px;
    margin-top: 56px;
  }
}
.about__btn {
  &:hover,
  &:focus{
    background-color: rgba(236, 235, 235, 1);
    box-shadow: 0px 10px 20px rgba(212, 20, 67, 0.3);
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  text-align: center;
  color: var(--brend-color-1);
  border: none;
  border-radius: 22px;
  background-color: #ffffff;
  width: 176px;
  height: 44px;
  @media screen and(min-width:$tab){
    margin: 0;
  }
}
.about__svg {
  margin-left: 14px;
}
