.wrapper{
    position: relative;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.wrapper__slider{
    height: auto;
    padding-left: 0;
    position: relative;
    max-width: 280px;
    overflow: hidden;
}
.slider__slides{
    position: relative;
    width: 400%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; 
}
.slider__slide{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[name="r"] {
    visibility: hidden;
    position: absolute;
}
.slider__text-conteiner{
    width: 280px;
    display: flex;
    justify-content: center;
    padding-left: 0;
    background-color: #FAFAFA;
    margin-bottom: 30px;
    margin-top: 29px;
    position: relative;
    &::before {
        content: "";
        width: 54px;
        height: 40px;
        background-image: url(../images/quoters.png);
        position: absolute;
        left: 63px;
        top: 13px;
        }
}

.slider_icon:not(:last-child){
    margin-right: 10px;
}
.slider__text{
max-width: 157px;
height: 308px;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 2.58;
letter-spacing: 0em;
text-align: center;
display: flex;
align-items: center;
position: relative;
&::before {
    content: "";
    width: 180px;
    height: 217px;
    background-image: url(../images/textlines.png);
    position: absolute;
    left: -13px;
    top: 55px;
    }
}
.slider__name{
    position: relative;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    margin-top: 18px;
    margin-bottom: 30px;
    }

.slider__navigation{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    }
    
.bar{
width: 12px;
height: 12px;
background-color: #D9D9D9;
opacity: .7;
border-radius: 50%;
&:hover,&:focus{
background-color: #D31342;
    }
&:not(:last-child){
    margin-right: 18px;
}
}
#r1:checked ~ .r1 {
    margin-left: 0;
}
#r2:checked ~.r2 {
    margin-left: -25%;
}
#r2:checked ~ .r3 {
    margin-left: -50%;
}
#r2:checked ~ .r4 {
    margin-left: -100%;
}